* {
  margin: 0;
  padding: 0;
}
.App {
  background: linear-gradient(#e1b382, #e1b382);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_wrapper {
  margin-right: 7rem;
  font-size: 1rem;
  color: #585858;
  list-style: none;
}
.todo_item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.todo_item > button {
  margin: 0 5px;
}
